@using WebApplication.Utils;
@using Service.VM.Home;
@{
    ViewData["Title"] = "Index";
}

<div id="root"></div>

<script type="text/javascript">
    window.params = @Html.Raw(JsonSerializer.Serialize<HomeVM>(Model));
</script>

<script src="~/dist/home.bundle.js"></script>