.AuthForm{
    width: 400px;
    margin: 0 auto;
    h2 {
        font-size: 32px;
        margin-bottom: 0;
    }
    .alternatelink {
        margin-top: 10px;
    }
    .subtitle {
        font-size: 16px;
    }
}