.AuthForm{
    width: 400px;
    margin: 0 auto;
    padding-top: 25%;
    &__title {
        font-size: 32px;
        margin-bottom: 0px;
    }
    &__subtitle {
        font-size: 14px;
    }
    &__secondary-link {
        margin-top: 10px;
    }
}