Something/.vs/Something/v15/.suo
Something/.vs/*
Something/WebApplication/bin*
Something/WebApplication/obj*
Something/Database.Entities/obj*
Something/Database.Entities/bin*
Something/Database.EntityFramework/obj*
Something/Database.EntityFramework/bin*