@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
