@import 'Variables.scss';

.ant-btn {
    &--rounded{
        padding: 0 24px;
        border-radius: 100px;
        font-size: 16px;
        line-height: 38px;
        display: inline-block;
        height: 40px;
        text-align: center;
    }
    &--disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.ant-input {
    min-height: 10px !important;
}

.ant-layout-content {
    margin: 24px 16px 0;
    overflow: 'initial's;
    padding: 24px;
}

.ant-layout {
    &--fullheight {
        height: 100vh;
    }
}

.ant-alert-with-description {
    font-size: 12px;
    .ant-alert-message {
        font-size: 12px;
        font-weight: $font-weight-bold;
    }
    .ant-alert-description {
        font-size: 12px;
    }
}

.ant-steps {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}