.Splash {
    background: #ddd;
    color: #fff;
    background-image: url(/images/splash1.jpeg);
    background-position: center;
    height: 100%;
    &__login {
        background-position-x: 25%;
        background-position-y: 60%;
    }
    &__register {
        background-position-x: 90%;
        background-position-y: 60%;
    }
    &__inner {
        width: 400px;
        margin: 0 auto;
    }
}