@using WebApplication.Utils;
@{
    ViewData["Title"] = "Index";
}

<div id="onboarding-root"></div>

<script type="text/javascript">
    window.onboardingParams = {
        pageTypeId: 2,
    };
    // window.authParams = @Html.Raw(JsonSerializer.Serialize<LoginViewModel>(Model));
</script>

<script src="~/dist/onboarding.bundle.js"></script>

<h2>Onboarding</h2>

<p>3 step Wizard to be implemented here</p>
<ul>
    <li>Create Company</li>
    <li>Create Project</li>
    <li>Create Sprint</li>
</ul>