@using WebApplication.Utils;
@using Service.VM.Onboarding;
@{
    ViewData["Title"] = "Index";
}

<div id="root"></div>

<script type="text/javascript">
    window.params = @Html.Raw(JsonSerializer.Serialize<OnboardingVM>(Model));
</script>

<script src="~/dist/onboarding.bundle.js"></script>