@using WebApplication.Utils;
@using Service.ViewModels.Onboarding;
@{
    ViewData["Title"] = "Index";
}

<div id="onboarding-root"></div>

<script type="text/javascript">
    window.onboardingParams = @Html.Raw(JsonSerializer.Serialize<OnboardingViewModel>(Model));
</script>

<script src="~/dist/onboarding.bundle.js"></script>