@import "../Global.scss";
@import "../Variables.scss";

body {
    background-color: #636381;
}

.Home {
    color:white;
    margin: 0 auto;
    width: 500px;
    margin-top: 15px;
    h1 {
        color: white;
        font-size: 48px;
        margin-bottom: 0;
    }
    p {
        font-size: 14px;
    }

    &__btns {
        &--default {
            padding: 8px 10px;
            font-size: 12px;
            width: 140px;
            margin-right: 10px;
            display: inline-block;
            border-radius: 50px;
            text-align: center;
            text-transform: uppercase;
        }
        &--yellow {
            background-color: #ffbc00;
            border: 1px solid #ffbc00;
            color: #000000;
        }
    }

    &__gallery {
        img {
            width: 500px;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
}