@using WebApplication.Utils;
@using Service.ViewModels.Dashboard;
@{
    ViewData["Title"] = "Index";
}

<div id="dashboard-root"></div>

<script type="text/javascript">
    window.dashboardParams = @Html.Raw(JsonSerializer.Serialize<DashboardVM>(Model));
</script>

<script src="~/dist/dashboard.bundle.js"></script>